@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  margin: 0;
  background-color: #FFFFFF;
}
body a, body a:link {
  color: #2555e5;
}
body a:hover, body a:link:hover {
  text-decoration: none;
}
body ul {
  margin: 0;
  padding: 0;
}

header[role="banner"], footer[role="contentinfo"], div.page {
  width: 940px;
}

header {
  padding: 20px 0 20px 0;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
header * {
  float: left;
}
header .siteinfo {
  width: 100%;
}
header .siteinfo figure {
  padding-right: 20px;
}
header .siteinfo h2 {
  margin: 32px 0 0 0;
  padding: 0;
  font-weight: 200;
}

.navigation-banner {
  background-color: #E55525;
  height: 100px;
}
.navigation-banner nav {
  width: 1140px;
  margin: 0 auto;
}
.navigation-banner nav .navigation-banner-seperator {
  float: left;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #E55525;
  background-color: #EEEEEE;
}
.navigation-banner nav .navigation-banner-seperator.white-to-orange {
  background-color: #E55525;
  border-left: 30px solid #EEEEEE;
}
.navigation-banner nav .find, .navigation-banner nav .share {
  width: 42.7%;
  float: left;
  height: 100px;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.navigation-banner nav .find.find, .navigation-banner nav .share.find {
  width: 50%;
}
.navigation-banner nav .find.share, .navigation-banner nav .share.share {
  width: 35%;
}
.navigation-banner nav .find {
  margin-left: 100px;
  color: #FAFFFF;
  font-weight: 400;
  margin-top: 27px;
}
.navigation-banner nav .find .form-item {
  padding: 0;
  margin: 0;
}
.navigation-banner nav .find h2 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.navigation-banner nav .find .block-ndla-resource-map-resource-map-link, .navigation-banner nav .find .block-ndla-grep-fyr-ndla-grep-fyr-aims-link {
  float: right;
  display: block;
  background-color: #CE4C1A;
  height: 50px;
  width: 165px;
  padding: 16px 0 5px 15px;
  margin-left: 10px;
}
.navigation-banner nav .find .block-ndla-resource-map-resource-map-link.block-ndla-resource-map-resource-map-link, .navigation-banner nav .find .block-ndla-grep-fyr-ndla-grep-fyr-aims-link.block-ndla-resource-map-resource-map-link {
  width: 125px;
}
.navigation-banner nav .find .block-ndla-resource-map-resource-map-link.block-ndla-resource-map-resource-map-link:before, .navigation-banner nav .find .block-ndla-grep-fyr-ndla-grep-fyr-aims-link.block-ndla-resource-map-resource-map-link:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
  font-size: 16px;
}
.navigation-banner nav .find .block-ndla-resource-map-resource-map-link:before, .navigation-banner nav .find .block-ndla-grep-fyr-ndla-grep-fyr-aims-link:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
  font-size: 16px;
}
.navigation-banner nav .find .block-ndla-resource-map-resource-map-link a, .navigation-banner nav .find .block-ndla-grep-fyr-ndla-grep-fyr-aims-link a {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
}
.navigation-banner nav .find .block-search-api-page-search-page input {
  float: left;
  border: 0;
  padding: 5px 0 5px 15px;
  margin: 0;
  width: 195px;
  height: 40px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.navigation-banner nav .find .block-search-api-page-search-page #edit-submit-2 {
  margin: 0 0 0 -5px;
  padding: 0;
  float: left;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-left: 0;
  background: url(/sites/all/themes/fyr/images/search-btn.png) no-repeat 50% 50% white;
}
.navigation-banner nav .find .block-search-api-page-search-page .form-autocomplete {
  background: none;
  background-color: #FFFFFF;
}
.navigation-banner nav .find .block-search-api-page-search-page #autocomplete {
  width: 480px;
}
.navigation-banner nav .find .block-search-api-page-search-page #autocomplete li {
  padding: 5px;
  opacity: 0.9;
}
.navigation-banner nav .find .block-search-api-page-search-page #autocomplete li.selected {
  background-color: #E55525;
}
.navigation-banner nav .share {
  background-color: #EEEEEE;
}
.navigation-banner nav .share .block-ndla-share-share-shortcuts {
  margin-top: 28px;
}
.navigation-banner nav .share .login-link {
  overflow: hidden;
  height: 20px;
  width: 225px;
  background-color: #E55525;
  color: #FFFFFF;
  font-weight: 400;
  padding: 15px;
  margin: 0 0 0 40px;
  float: left;
  -webkit-font-smoothing: antialiased;
}
.navigation-banner nav .share .login-link:after {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  overflow: none;
  color: #FFFFFF;
  font-size: 2.5em;
  float: right;
  height: 50px;
  padding: 0;
  margin: -9px -3px 0 0;
}
.navigation-banner nav .share input[type="submit"] {
  margin: 0;
  padding: 0;
  float: left;
  height: 50px;
  width: 80px;
  overflow: hidden;
  border: 0;
  border-left: 0;
  background-color: #E55525;
  color: #FFFFFF;
  font-weight: 400;
}
.navigation-banner nav .share .chosen-container {
  margin: 0 0 0 20px;
  float: left;
}
.navigation-banner nav .share .chosen-container .chosen-drop {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  width: 250px;
  border-radius: 0;
  border: none;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.navigation-banner nav .share .chosen-container .chosen-results li {
  border-bottom: 1px solid #EEEEEE;
  background: #FFFFFF;
  line-height: 40px;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.navigation-banner nav .share .chosen-container .chosen-results li:hover {
  background-color: #EEEEEE;
}
.navigation-banner nav .share .chosen-container .chosen-results li:first-child {
  display: none;
}
.navigation-banner nav .share .chosen-single {
  float: left;
  border: 0;
  padding: 5px 0 5px 0;
  width: 250px;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  color: #EEEEEE;
  background: #FFFFFF;
}
.navigation-banner nav .share .chosen-single span {
  margin-left: 15px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.navigation-banner nav .share .chosen-single div {
  line-height: 50px;
  width: 25px;
  top: 3px;
}
.navigation-banner nav .share .chosen-single div b {
  background: none;
  background-image: none;
}
.navigation-banner nav .share .chosen-single div b:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #919498;
  font-size: 2em;
}
.navigation-banner nav .share .chosen-with-drop .chosen-single div b:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

div[role="main"] {
  padding: 0;
}

.page {
  border: 0;
}
.page h1 {
  font-size: 21px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border-bottom: 5px solid #EEEEEE;
  margin-bottom: 10px;
}
.page footer .comments {
  display: none;
}
.page article {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
.page article h2 {
  font-size: 1.5em;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: bold;
}
.page article h2 a {
  color: #111111;
}
.page article h2 a:active {
  color: #111111;
}
.page article h3 {
  font-size: 1.17em;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: bold;
}
.page article footer {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  color: #919498;
}
.page article footer .node-unpublished {
  color: #FFFFFF;
  background-color: #E55525;
  padding: 3px;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
}
.page article .content {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
.page article .content ol, .page article .content ul {
  margin: 0.5em 0;
  padding: 0 0 0 40px;
  font-size: 14px;
}
.page article .content ol > ol, .page article .content ol > ul, .page article .content ul > ol, .page article .content ul > ul {
  margin: 0;
}
.page article .content ol li, .page article .content ul li {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
.page article .content ul li {
  list-style: disc outside none;
}
.page article .field {
  margin: 20px 20px 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
.page article .field.hidden {
  display: none;
}
.page article .field label {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  font-weight: 900;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
.page article .field p, .page article .field span {
  font-size: 14px;
  color: #111111;
  font-family: "Open Sans Regular", Arial, sans-serif;
  margin: 0.5em 0;
  padding: 0;
  line-height: 1.5em;
  overflow: hidden;
  *zoom: 1;
}

.MathJax span {
  margin: 0 !important;
  overflow: visible !important;
}

.page article .field a {
  font-size: 14px;
}
.page article .field a[target="_new"]:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 3px;
  margin-right: 3px;
}
.page article .field .file {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  padding: 5px;
}
.page .views-field-field-link a:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 3px;
  margin-right: 3px;
}

.node-unpublished {
  background-color: #FFFFFF;
}

ul.primary.tabs {
  border: 0;
  margin: 0;
  padding: 0;
}
ul.primary.tabs li, ul.primary.tabs a {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}
ul.primary.tabs li.active a {
  border: 0;
  background: none;
}

ul.primary.tabs {
  border: 0;
  overflow: hidden;
  padding: 5px 0;
  margin: 15px 0;
}
ul.primary.tabs li {
  background-color: #EEEEEE;
  color: #111111;
  padding: 10px;
  margin-right: 10px;
}
ul.primary.tabs li:hover {
  background-color: #bbbbbb;
}
ul.primary.tabs li a {
  color: #111111;
}
ul.primary.tabs li a:hover {
  background-color: #bbbbbb;
}
ul.primary.tabs li.active {
  background-color: #E55525;
}
ul.primary.tabs li.active:hover {
  background-color: #933211;
}
ul.primary.tabs li.active a {
  color: #FFFFFF;
}
ul.primary.tabs li.active a:hover {
  background-color: #933211;
}
ul.primary.tabs li:last-child {
  margin: 0;
}

.metadata {
  margin-bottom: 20px;
}

#main-content {
  width: 640px;
  float: left;
}

.content_pre {
  position: relative;
  display: block;
  line-height: 1em;
  float: right;
  margin: 0;
  padding: 0;
  width: 200px;
  font-size: 18px;
}
.content_pre > div {
  margin-left: 12.5px;
}
.content_pre a, .content_pre .fa-stack {
  position: relative;
  float: right;
  color: #111111;
  margin: 0 0 0 10px;
}
.content_pre .fa-stack {
  font-size: 18px;
  width: 14px;
  height: 14px;
  line-height: 1em;
  position: relative;
  float: right;
  padding: 0;
}
.content_pre .fa-stack-1x {
  position: aboslute;
  width: auto;
}
.content_pre .print_html {
  display: block;
}
.content_pre .print_html a:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}
.content_pre .print_html img {
  display: none;
}
.content_pre .block-ndla-share-share-secret-link {
  display: block;
  position: relative;
  float: right;
}

.sidebar-right {
  float: right;
  width: 280px;
  margin: 0;
  padding: 0;
}
.sidebar-right h2 {
  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 300;
  margin: 0;
  padding: 5px 0 5px 0;
}
.sidebar-right div > .views-field {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  color: #656565;
  background-color: #EEEEEE;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.sidebar-right div > .views-field img {
  max-height: 40px;
  padding: 5px;
}
.sidebar-right div > .views-field a {
  font-weight: 400;
  color: #656565;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  color: #656565;
  background-color: #EEEEEE;
  padding: 15px;
  margin-bottom: 10px;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul span, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul span {
  display: block;
  float: left;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul li, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul li {
  background-color: #FFFFFF;
  padding: 6px;
  margin: 5px 0;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul li img, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul li img {
  float: left;
  padding-right: 5px;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul li a, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul li a {
  color: #111111;
  line-height: 19px;
  float: left;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul li .remove_approval, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul li .remove_approval {
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  float: right;
  font-size: 12px;
  padding: 3px;
  margin: 0;
  background-color: #919498;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul li .remove_approval a, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul li .remove_approval a {
  color: #FFFFFF;
  padding: 0;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-approved-by ul li .remove_approval a:before, .sidebar-right .block-ndla-usergroups-ndla-usergroups-approve ul li .remove_approval a:before {
  margin-right: 3px;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-commoncourse div > li {
  margin: 10px 0;
}
.sidebar-right .block-ndla-usergroups-ndla-usergroups-commoncourse .count {
  font-size: 10px;
  font-weight: 100;
  margin: 0 7px 0 3px;
  color: #919498;
}

#all-courses-list {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 920px;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
}
#all-courses-list .common-course-header {
  border-bottom: 2px solid #EEEEEE;
  overflow: hidden;
  *zoom: 1;
}
#all-courses-list .common-course-header img {
  height: 50px;
  float: left;
  margin-bottom: 2px;
}
#all-courses-list .common-course-header span {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  float: left;
  margin-left: 10px;
  margin-top: 32px;
}
#all-courses-list .common-course {
  padding: 0;
}
#all-courses-list .common-course ul li {
  padding: 10px 0px;
}
#all-courses-list .common-course ul li a {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  position: static;
}

.content_bottom {
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 25px;
}

.front .content_bottom_wrapper {
  background-color: #EEEEEE;
  padding: 5px 0;
}

.front .content_bottom .title {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  font-weight: 600;
}

.front .content_bottom div.item-list {
  padding: 10px 0 10px 0;
  margin: 0;
  clear: both;
}
.front .content_bottom div.item-list a {
  padding: 0 5px 0 5px;
  line-height: 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  font-size: 15px;
  font-weight: 400;
}
.front .content_bottom div.item-list img {
  width: 16px;
  height: 16px;
}
.front .content_bottom div.item-list ul li {
  display: block;
  float: left;
  background-color: #FFFFFF;
  padding: 8px;
  margin: 0 10px 5px 0;
}
.front .content_bottom div.item-list ul li a {
  color: #111111;
}

.front footer[role="contentinfo"] {
  background-color: white;
}

.height-transition {
  -moz-transition-property: "height";
  -o-transition-property: "height";
  -webkit-transition-property: "height";
  transition-property: "height";
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims {
  background: #EEEEEE;
  padding: 15px 15px 15px 15px;
  position: relative;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .title,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .title {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  margin-bottom: 3px;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .subtitle,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .subtitle {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  color: #656565;
  margin-bottom: 2px;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims > ul,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims > ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .bottom_fader,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .bottom_fader {
  position: absolute;
  margin: 0;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0 0 0 0;
  z-index: 20;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .bottom_fader .transparent,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .bottom_fader .transparent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  height: 50px;
  width: 100%;
  background-color: #EEEEEE;
  margin-bottom: -34px;
  z-index: 100;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .bottom_fader a,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .bottom_fader a {
  position: relative;
  display: block;
  background-color: #919498;
  width: 90px;
  padding: 5px 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  color: #FFFFFF;
  z-index: 100;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .item-list ul li,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .item-list ul li {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  margin: 10px 0 0 0;
  padding: 0;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .item-list ul li.aims,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .item-list ul li.aims {
  list-style: circle;
  margin: 5px 0 5px 15px;
}
body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims .item-list ul li .aim,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims .item-list ul li .aim {
  color: black;
  display: block;
}

.ndla-socialmedia #feedback-recommend,
.block-ndla-feedback-feedback #feedback-recommend {
  float: left;
}
.ndla-socialmedia #feedback-recommend .ndla-btn2-content,
.block-ndla-feedback-feedback #feedback-recommend .ndla-btn2-content {
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
.ndla-socialmedia #feedback-recommend .ndla-btn2-content img,
.block-ndla-feedback-feedback #feedback-recommend .ndla-btn2-content img {
  padding: 0 4px;
}
.ndla-socialmedia #recommend-count,
.block-ndla-feedback-feedback #recommend-count {
  border: 1px solid #cccccc;
  float: left;
  border-left: 0 none;
  padding: 3px 7px 3px 5px;
  background: url(/sites/all/themes/fyr/images/footer_bg.png) repeat-x scroll 0 0 #fcfeff;
  color: #222222;
}
.ndla-socialmedia #recommend-arrow,
.block-ndla-feedback-feedback #recommend-arrow {
  background: url(/sites/all/themes/fyr/images/talk_arrow.png) no-repeat center center;
  height: 24px;
  width: 7px;
  float: left;
  margin-left: 2px;
}
.ndla-socialmedia #google-plusone-content, .ndla-socialmedia #facebook-like-content,
.block-ndla-feedback-feedback #google-plusone-content,
.block-ndla-feedback-feedback #facebook-like-content {
  display: inline;
  float: left;
  padding: 0 4px;
  margin: 0 4px;
  content: "";
  border-left: 1px solid #EEEEEE;
}
.ndla-socialmedia #google-plusone-content,
.block-ndla-feedback-feedback #google-plusone-content {
  width: 80px;
}
.ndla-socialmedia #facebook-like-content,
.block-ndla-feedback-feedback #facebook-like-content {
  width: 40%;
}
.ndla-socialmedia #twitter-like-content,
.block-ndla-feedback-feedback #twitter-like-content {
  float: left;
  width: 100px;
}
.ndla-socialmedia #comment-section,
.block-ndla-feedback-feedback #comment-section {
  width: 100%;
  clear: both;
  padding-top: 20px;
}
.ndla-socialmedia #comment-section #comment-buttons,
.block-ndla-feedback-feedback #comment-section #comment-buttons {
  height: 40px;
}
.ndla-socialmedia #comment-section .comment,
.block-ndla-feedback-feedback #comment-section .comment {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 10px 0;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}
.ndla-socialmedia #comment-section .comment .comment-reply,
.block-ndla-feedback-feedback #comment-section .comment .comment-reply {
  margin-top: 10px;
  margin-left: 7px;
  padding-left: 7px;
  border-left: 1px solid #919498;
}
.ndla-socialmedia #comment-section h2,
.block-ndla-feedback-feedback #comment-section h2 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  border-bottom: 2px solid #EEEEEE;
}
.ndla-socialmedia #comment-section h3,
.block-ndla-feedback-feedback #comment-section h3 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.ndla-socialmedia #comment-section .submitted,
.block-ndla-feedback-feedback #comment-section .submitted {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  color: #919498;
}
.ndla-socialmedia #comment-section p,
.block-ndla-feedback-feedback #comment-section p {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  color: #656565;
}
.ndla-socialmedia #comment-section .answer-button .ndla-btn2-content:before,
.block-ndla-feedback-feedback #comment-section .answer-button .ndla-btn2-content:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ndla-socialmedia #comment-section #flag-comment-button .ndla-btn2-content:before,
.block-ndla-feedback-feedback #comment-section #flag-comment-button .ndla-btn2-content:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ndla-socialmedia #comment-section #all-comments-button .ndla-btn2-content:before,
.block-ndla-feedback-feedback #comment-section #all-comments-button .ndla-btn2-content:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ndla-socialmedia #comment-section a .ndla-btn2-content,
.block-ndla-feedback-feedback #comment-section a .ndla-btn2-content {
  height: 20px;
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  text-decoration: none;
  color: #E55525;
  padding: 4px 8px 4px 4px;
  margin: 0;
  margin-right: 5px;
  border: 1px solid #E55525;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
}
.ndla-socialmedia #comment-section a .ndla-btn2-content:before,
.block-ndla-feedback-feedback #comment-section a .ndla-btn2-content:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding: 4px 6px 4px 6px;
  margin: 0;
  color: #E55525;
  font-size: 1em;
}
.ndla-socialmedia #comment-section a .ndla-btn2-content:hover,
.block-ndla-feedback-feedback #comment-section a .ndla-btn2-content:hover {
  text-decoration: none;
}

.ndla-socialmedia #google-plusone-content {
  border-left: none;
  margin-left: 0;
}

footer[role="contentinfo"] {
  width: 100%;
  background-color: #EEEEEE;
  text-align: left;
}
footer[role="contentinfo"] .container {
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
  *zoom: 1;
}
footer[role="contentinfo"] .container p, footer[role="contentinfo"] .container a {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
  margin: 25px 0 25px 0;
}
footer[role="contentinfo"] .container .block-block-1 {
  width: 640px;
  float: left;
}
footer[role="contentinfo"] .container nav {
  width: 200px;
  float: left;
}
footer[role="contentinfo"] .container nav > ul {
  margin: 25px 0 0 0;
  padding: 0;
}

ul.links.inline {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.node-type-common-course .page h1, .deling.node-type-frontpage .page h1 {
  width: 940px;
}
.node-type-common-course .block-ndla-grep-fyr-ndla-grep-fyr-courses, .deling.node-type-frontpage .block-ndla-grep-fyr-ndla-grep-fyr-courses {
  background-color: #EEEEEE;
  padding: 0;
  margin: 0;
  width: 620px;
  height: 530px;
  overflow: hidden;
}
.node-type-common-course h3, .deling.node-type-frontpage h3 {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  color: #656565;
  padding: 20px 0 7px 20px;
  margin: 0;
}
.node-type-common-course #courses-list, .deling.node-type-frontpage #courses-list {
  padding: 0 0 20px 20px;
}
.node-type-common-course #courses-list ul li, .deling.node-type-frontpage #courses-list ul li {
  padding: 7px 0px;
}
.node-type-common-course #courses-list ul li a, .deling.node-type-frontpage #courses-list ul li a {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  position: static;
}
.node-type-common-course ul.primary.tabs, .deling.node-type-frontpage ul.primary.tabs {
  margin: 10px;
}
.node-type-common-course .tabs, .deling.node-type-frontpage .tabs {
  position: absolute;
}
.node-type-common-course .main, .deling.node-type-frontpage .main {
  position: relative;
}
.node-type-common-course .sidebar-right, .deling.node-type-frontpage .sidebar-right {
  float: left;
  width: 300px;
  margin: 40px 0 0 0;
  padding: 0;
  background-color: #EEEEEE;
  height: 530px;
  overflow: hidden;
}
.node-type-common-course .sidebar-right .views-summary, .deling.node-type-frontpage .sidebar-right .views-summary {
  color: #919498;
  font-weight: 100;
  font-size: 12px;
}
.node-type-common-course .sidebar-right > div, .deling.node-type-frontpage .sidebar-right > div {
  margin: 0 0 1px 0;
  border-bottom: 2px solid #FFFFFF;
  padding: 0 20px 20px 20px;
}
.node-type-common-course .sidebar-right > div:last-child, .deling.node-type-frontpage .sidebar-right > div:last-child {
  border-bottom: none;
}
.node-type-common-course .sidebar-right > div h2, .deling.node-type-frontpage .sidebar-right > div h2 {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  color: #656565;
  padding-top: 20px;
}
.node-type-common-course .sidebar-right > div a, .deling.node-type-frontpage .sidebar-right > div a {
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  padding: 10px 0 0 0;
}
.node-type-common-course .sidebar-right > div li, .deling.node-type-frontpage .sidebar-right > div li {
  padding: 5px 0;
  margin: 0;
  color: #111;
}
.node-type-common-course .sidebar-right > div div > .views-field, .deling.node-type-frontpage .sidebar-right > div div > .views-field {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  color: #111;
  margin: 0;
  padding: 10px 0 0 0;
  background-color: transparent;
}
.node-type-common-course .sidebar-right > div div > .views-field li, .deling.node-type-frontpage .sidebar-right > div div > .views-field li {
  padding: 5px 0;
}
.node-type-common-course .content_bottom, .deling.node-type-frontpage .content_bottom {
  overflow: hidden;
  position: relative;
}
.node-type-common-course .content_bottom .arrow-button, .deling.node-type-frontpage .content_bottom .arrow-button {
  position: absolute;
  bottom: 20px;
  width: 280px;
}
.node-type-common-course .content_bottom .block-ndla-share-top-authors, .node-type-common-course .content_bottom block-ndla-share-top-authors-global, .deling.node-type-frontpage .content_bottom .block-ndla-share-top-authors, .deling.node-type-frontpage .content_bottom block-ndla-share-top-authors-global {
  margin-left: 0;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block .slick-list, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .slick-list {
  background-color: #EEEEEE;
  min-height: 370px;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block .slick-prev, .node-type-common-course .content_bottom .block-views-substart-slideshow-block .slick-next, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .slick-prev, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .slick-next {
  position: absolute;
  top: 230px;
  left: 250px;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block .slick-next, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .slick-next {
  left: auto;
  right: 5px;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block > div, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block > div {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block .views-field-title, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .views-field-title {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  margin: 20px;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block .views-field-body, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .views-field-body {
  margin: 20px;
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
}
.node-type-common-course .content_bottom .block-views-substart-slideshow-block .views-field-body a, .deling.node-type-frontpage .content_bottom .block-views-substart-slideshow-block .views-field-body a {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
}
.node-type-common-course .content_bottom > div, .deling.node-type-frontpage .content_bottom > div {
  margin: 20px 10px 0 10px;
  padding: 0;
  padding-bottom: 20px;
  float: left;
  width: 295px;
  overflow: hidden;
}
.node-type-common-course .content_bottom > div > div, .deling.node-type-frontpage .content_bottom > div > div {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
.node-type-common-course .content_bottom > div > div:last-child, .deling.node-type-frontpage .content_bottom > div > div:last-child {
  border: none;
}
.node-type-common-course .content_bottom > div h2, .deling.node-type-frontpage .content_bottom > div h2 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  border-bottom: 3px solid #EEEEEE;
}
.node-type-common-course .content_bottom > div a, .deling.node-type-frontpage .content_bottom > div a {
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  padding: 10px 0 0 0;
}
.node-type-common-course .content_bottom > div li, .deling.node-type-frontpage .content_bottom > div li {
  margin: 10px 0;
  padding: 0 0 0 40px;
  color: #111;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  background-color: none;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.node-type-common-course .content_bottom > div .position_1, .node-type-common-course .content_bottom > div .position_2, .node-type-common-course .content_bottom > div .position_3, .deling.node-type-frontpage .content_bottom > div .position_1, .deling.node-type-frontpage .content_bottom > div .position_2, .deling.node-type-frontpage .content_bottom > div .position_3 {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}
.node-type-common-course .content_bottom > div .position_1, .deling.node-type-frontpage .content_bottom > div .position_1 {
  background-image: url(../images/top_sharer_gold.png);
}
.node-type-common-course .content_bottom > div .position_2, .deling.node-type-frontpage .content_bottom > div .position_2 {
  background-image: url(../images/top_sharer_silver.png);
}
.node-type-common-course .content_bottom > div .position_3, .deling.node-type-frontpage .content_bottom > div .position_3 {
  background-image: url(../images/top_sharer_bronze.png);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.node-type-common-course .content_bottom > div .position_other, .deling.node-type-frontpage .content_bottom > div .position_other {
  background-image: url(../images/top_sharer_other.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 0px;
  margin: 5px 0;
  height: 20px;
}
.node-type-common-course .content_bottom .views-field-title, .deling.node-type-frontpage .content_bottom .views-field-title {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
}
.node-type-common-course .content_bottom .views-field-name, .deling.node-type-frontpage .content_bottom .views-field-name {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.node-type-common-course .content_bottom .views-field-name a, .deling.node-type-frontpage .content_bottom .views-field-name a {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.node-type-common-course .content_bottom .views-field-created, .deling.node-type-frontpage .content_bottom .views-field-created {
  font-size: 11px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
}

.page-search .sidebar-left {
  float: left;
  width: 30%;
}
.page-search .sidebar-left > div {
  margin: 0 0 20px 0;
  padding: 0;
}
.page-search .sidebar-left h2 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: 3px solid #EEEEEE;
}
.page-search .sidebar-left .block-ndla-solr-ndla-solr-external-search {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
.page-search .sidebar-left .block-current-search-standard h3,
.page-search .sidebar-left .facetapi-facetapi-links h3,
.page-search .sidebar-left .facetapi-facetapi-checkbox-links h3,
.page-search .sidebar-left .block-ndla-solr-ndla-solr-external-search h3 {
  font-size: 14px;
  color: #111111;
  font-weight: bold;
  padding-left: 0;
}
.page-search .sidebar-left .block-current-search-standard li,
.page-search .sidebar-left .facetapi-facetapi-links li,
.page-search .sidebar-left .facetapi-facetapi-checkbox-links li,
.page-search .sidebar-left .block-ndla-solr-ndla-solr-external-search li {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  list-style: none;
  padding: 5px 0;
  margin: 5px 0;
}
.page-search .sidebar-left .block-current-search-standard li:first-child,
.page-search .sidebar-left .facetapi-facetapi-links li:first-child,
.page-search .sidebar-left .facetapi-facetapi-checkbox-links li:first-child,
.page-search .sidebar-left .block-ndla-solr-ndla-solr-external-search li:first-child {
  border: none;
}
.page-search .sidebar-left .block-current-search-standard a,
.page-search .sidebar-left .facetapi-facetapi-links a,
.page-search .sidebar-left .facetapi-facetapi-checkbox-links a,
.page-search .sidebar-left .block-ndla-solr-ndla-solr-external-search a {
  color: #111;
}
.page-search .sidebar-left .block-current-search-standard input[type="checkbox"],
.page-search .sidebar-left .facetapi-facetapi-links input[type="checkbox"],
.page-search .sidebar-left .facetapi-facetapi-checkbox-links input[type="checkbox"],
.page-search .sidebar-left .block-ndla-solr-ndla-solr-external-search input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.page-search .sidebar-left .facetapi-limit-link {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
}
.page-search #main-content {
  float: right;
  width: 65%;
  position: relative;
}
.page-search #main-content h1 {
  display: none;
}
.page-search #main-content .block-search-api-sorts-search-sorts {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.page-search #main-content .block-search-api-sorts-search-sorts label {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.page-search #main-content .block-search-api-sorts-search-sorts > * {
  margin: 0;
  padding: 0;
}
.page-search #main-content .search-api-page-results {
  position: relative;
}
.page-search #main-content .search-api-page-results h2 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  padding: 0;
  margin: 0 0 10px 0;
  border-bottom: 3px solid #EEEEEE;
}
.page-search #main-content .search-api-page-results .search-performance {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 3px;
  left: 130px;
  color: #919498;
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
}
.page-search #main-content .search-api-page-results .search-results {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.page-search #main-content .search-api-page-results .search-results p {
  margin: 0;
  padding: 0;
}
.page-search #main-content .search-api-page-results .search-results h3.title {
  margin: 0;
  padding: 0;
}
.page-search #main-content .search-api-page-results .search-results h3.title a {
  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
  color: #111;
}
.page-search #main-content .search-api-page-results .search-results .search-snippet-info {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.page-search #main-content .search-api-page-results .search-results .search-info {
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  color: #919498;
}
.page-search #main-content .search-api-page-results .item-list-pager {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 5px solid #EEEEEE;
}
.page-search #main-content .search-api-page-results .item-list-pager li {
  padding: 4px 8px;
  margin: 0;
}
.page-search #main-content .search-api-page-results .item-list-pager li a {
  color: #111;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.page-search #main-content .search-api-page-results .item-list-pager .current {
  color: #FFFFFF;
  background-color: #E55525;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/**
 * Tables
 */
table, mceItemTable {
  width: 100%;
  max-width: 100%;
}

/**
 * Fieldset
 */
body.page-resource-map #main-content h1 {
  display: none;
}
body.page-resource-map div#canvas {
  position: relative;
  width: 980px;
}
body.page-resource-map div.item {
  background-color: white;
  padding: 10px;
  margin: 0;
  position: absolute;
  background-color: #E55525;
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
body.page-resource-map div.item * {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 5px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 800;
}
body.page-resource-map div.item a {
  display: block;
  text-align: center;
  color: #EEEEEE;
  text-decoration: underline;
  font-weight: 200;
}
body.page-resource-map div.item h2, body.page-resource-map div.item a {
  margin: 0px;
}

.contextual-links-processed {
  display: none !important;
}

.node-type-common-course .content_bottom a.arrow-button, .deling.node-type-frontpage .content_bottom a.arrow-button {
  margin-top: 20px;
  padding: 0 0 0 10px;
  display: block;
  color: white;
  background-color: #E55525;
  height: 30px;
  line-height: 30px;
}
.node-type-common-course .content_bottom a.arrow-button div, .deling.node-type-frontpage .content_bottom a.arrow-button div {
  box-sizing: border-box;
  height: 0;
  width: 0;
  float: right;
  border-top: 15px solid white;
  border-left: 10px solid #E55525;
  border-right: 0;
  border-bottom: 15px solid white;
}

.top-authors ul {
  float: left;
  width: 100%;
}
.top-authors ul li {
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
}
.top-authors ul li a {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 600;
}
.top-authors ul li.position_1, .top-authors ul li.position_2, .top-authors ul li.position_3 {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}
.top-authors ul li.position_1 {
  background-image: url(../images/top_sharer_gold.png);
}
.top-authors ul li.position_2 {
  background-image: url(../images/top_sharer_silver.png);
}
.top-authors ul li.position_3 {
  background-image: url(../images/top_sharer_bronze.png);
}
.top-authors ul li.position_other {
  background-image: url(../images/top_sharer_other.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 0px;
  margin: 5px 0;
}

.ndla-share-top-authors ul {
  width: 50%;
}

.block-system-help {
  color: #919498;
  border: 5px solid #EEEEEE;
  padding: 0 20px 0 20px;
}

/**
 * TinyMCE
 */
.mceContentBody ul, .mceContentBody ol {
  margin: 0 1.5em 1.5em 1.5em;
  padding: 0;
}
.mceContentBody li ul, .mceContentBody li ol {
  margin: 0 1.5em;
}
.mceContentBody ul, .mceContentBody ul li {
  list-style-type: disc;
}
.mceContentBody ol, .mceContentBody ol li {
  list-style-type: decimal;
}

.file a.file-icon {
  background: none;
  padding: 2px;
}
.file a.file-icon:before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

#ndla_contact_form label {
  color: #111111;
}

.resources, .page article .resources {
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
  width: 620px;
}
.resources h2, .page article .resources h2 {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 400;
  font-weight: 900;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
.resources .field, .resources .field-items, .page article .resources .field, .page article .resources .field-items {
  border: 0;
  margin: 0;
}
.resources .field-item, .resources > .field-type-file, .resources > .field-type-url, .page article .resources .field-item, .page article .resources > .field-type-file, .page article .resources > .field-type-url {
  margin-bottom: 8px;
}
.resources .field-type-url a, .page article .resources .field-type-url a {
  font-size: 14px;
}
.resources .field-type-url a:before, .page article .resources .field-type-url a:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 3px;
  margin-right: 3px;
}
.resources .file .file-icon, .page article .resources .file .file-icon {
  display: none;
}
.resources .file .file-size, .page article .resources .file .file-size {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  color: #919498;
}
.resources .file a, .page article .resources .file a {
  background: none;
}
.resources .file a:before, .page article .resources .file a:before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

a.ndla-contact-button {
  background-color: #E55525 !important;
}

.current-search-item-text {
  display: none;
}

a.facet-deactivate {
  display: inline-block;
}
a.facet-deactivate:hover:before {
  color: #111111;
}
a.facet-deactivate:before {
  color: #E55525;
  margin-top: 2px;
  margin-right: 5px;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.page-search .sidebar-left h2 {
  background: #E55525;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  border-bottom: none;
}

/* override css for chosen.js */
.share .chosen-container .chosen-results {
  max-height: 300px;
}

span.username {
  text-transform: capitalize;
}

/* override css for eu compliance popup */
#sliding-popup {
  opacity: 0.9;
}
#sliding-popup .popup-content #popup-buttons button {
  border-radius: 0px;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

/* override css for h5p lists */
.h5p-content ul {
  padding: 0 !important;
}
.h5p-content ul li {
  list-style: none !important;
}

/* Node Forms */
.page .node-form {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  border: 5px solid #EEEEEE;
  padding: 20px;
  margin-top: 10px;
}
.page .node-form label {
  color: #111111;
}
.page .node-form .group-resources {
  border: 5px solid #EEEEEE;
  padding: 40px 10px 40px 10px;
  margin-top: 15px;
}
.page .node-form .group-resources.collapsed {
  padding: 10px;
}
.page .node-form .group-resources .fieldset-legend {
  padding: 10px;
}
.page .node-form .group-resources .fieldset-legend .fieldset-title {
  margin-left: 5px;
  color: #111111;
}
.page .node-form .group-resources .form-item {
  margin: 15px 0 15px 0;
}
.page .node-form .field-type-url #field-url-add-more-wrapper .form-wrapper .fieldset-legend,
.page .node-form .tabledrag-toggle-weight {
  display: none;
}
.page .node-form .field-type-url .field-value-url, .page .node-form .field-type-url .field-value-title {
  width: 100%;
}
.page .node-form #edit-submit {
  background: #E55525;
  color: #FFF;
}
.page .node-form .droppable {
  width: 100%;
  border: 5px solid #EEEEEE;
  color: #000;
}
.page .node-form .label-description {
  margin: 0 0 3px 0;
}
.page .node-form .form-item {
  margin: 15px 0 0 0;
}
.page .node-form .form-select, .page .node-form .form-text {
  font-weight: 500;
  padding: 5px;
  border: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  background-color: #EEEEEE;
  background-position: 100% 12px;
}
.page .node-form .form-text {
  width: 100%;
}
.page .node-form .form-select {
  height: 36px;
  display: block;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
.page .node-form .form-wrapper label {
  color: #000;
  display: block;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  font-weight: 900;
}
.page .node-form .field-type-file {
  border: 0px;
}
.page .node-form .field-type-file .fieldset-legend {
  display: none;
}
.page .node-form .form-submit, .page .node-form .droppable-browse-button {
  padding: 10px;
  margin-right: 5px;
  background: #EEEEEE;
  color: #000;
  border: 0;
}
.page .node-form .form-radios label, .page .node-form .form-type-checkboxes label, .page .node-form .form-type-select label, .page .node-form .filter-help label, .page .node-form .form-type-checkbox label {
  display: inline-block;
}
.page .node-form table .handle {
  width: 23px;
  height: 23px;
}
.page .node-form .filter-help .form-type-select {
  margin-top: 0;
}
.page .node-form .field-value .form-item, .page .node-form td .form-item,
.page .node-form .form-type-textarea .form-type-select,
.page .node-form .text-format-wrapper .form-type-select {
  margin: 0;
}
.page .node-form #edit-h5p-type {
  padding-bottom: 10px;
}
.page .node-form #edit-h5p-type .form-item {
  margin: 5px 15px;
}
.page .node-form table {
  width: 100%;
  font-size: 0.923em;
  border-bottom: 5px solid #EEEEEE;
}
.page .node-form table tbody {
  box-sizing: border-box;
  margin: 0;
  border: 5px solid #EEEEEE;
}
.page .node-form td, .page .node-form th {
  vertical-align: middle;
  padding: 5px 5px;
  border: 0;
  color: #000;
}
.page .node-form th {
  font-weight: normal;
  border-bottom: 5px;
  border-style: solid;
  border-color: #EEEEEE;
  padding: 3px 10px;
}
.page .node-form tr.even, .page .node-form tr.odd {
  border-color: #bebfb9;
  background: #fff;
  vertical-align: baseline;
}
.page .node-form tr.drag {
  background: #fff;
}
.page .node-form tr.drag-previous {
  background: #ffb;
}
.page .node-form fieldset {
  border: 0;
  position: relative;
  padding: 0;
}
.page .node-form fieldset legend {
  width: auto;
}
.page .node-form fieldset .fieldset-legend {
  padding: 15px 5px;
  position: absolute;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}
.page .node-form fieldset .fieldset-wrapper legend {
  margin-bottom: 15px;
}
.page .node-form fieldset .collapsed {
  background-color: transparent;
}
.page .node-form fieldset html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
.page .node-form fieldset fieldset {
  background-color: #fff;
  padding: 0 0px;
}
.page .node-form fieldset fieldset fieldset {
  background-color: #f8f8f8;
}
.page .node-form .filter-wrapper {
  border: 1px solid #919498;
  border-top: 0;
}
.page .node-form .filter-wrapper .fieldset-wrapper {
  padding: 0;
}
