#treeoflife-wrapper {
  position: relative;
}
.mobile a:link, .mobile a:visited, .mobile a:hover, .mobile a:active {
  color: #3d3d4d;
}
.mobile a.ui-btn, .mobile h1, .mobile h2, .mobile h3 {
  color: #fff;
}
.ui-body-a, .ui-dialog.ui-overlay-a {
  text-shadow: 1px 1px 3px #222;
}
.ui-collapsible h3 a:link,
.ui-collapsible h3 a:visited,
.ui-collapsible h3 a:hover,
.ui-collapsible h3 a:active {
  color: #fff;
}
.ui-collapsible-content {
  box-shadow: inset 1px 1px 3px #666,inset -1px -1px 3px #fff;
  background: #f9f9f9;
}
#treeoflife-map {
  float: right;
}
#treeoflife-info {
  float: left;
}
#treeoflife-title img {
  box-shadow: 0px 0px 6px #000, 5px 5px 10px #333;
  border-radius: 2px;
}
.treeoflife-logo {
  background: url(../images/title.png) no-repeat top center;
  height: 166px;
}
img.treeoflife-download {
  width: 100%;
}
.treeoflife-center {
  text-align: center;
  display: block;
}

.ac_results {
  background-color: #fff;
  border: 1px solid #ccc;
}
.ac_results li {
  list-style-type: none;
  background: none;
  margin-left: 0.15em;
}

html,
body.mobile,
body.mobile #mappage,
body.mobile #mappage .ui-content,
body.mobile #treeoflife-map {
  width: 100%;
  height: 100%;
}
.ui-footer .ui-btn {
  margin: 0 5px;
}
.ui-content {
  padding: 0;
}
.ui-loader {
  z-index: 1000;
}
body.mobile .ui-footer {
  text-align: center;
  padding: 5px 0;
}
body.mobile #navigation {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 1000;
}
body.mobile #navigation .ui-btn-icon-notext {
    display: block;
    padding: 7px 6px 7px 8px;
}
.ac_results li {
  color: #000;
  font-size: 1.3em;
  padding: 0.5em;
}
.ac_results li:hover {
  background-color: #000;
  color: #fff;
}
#searchpage input.ui-input-text {
  font-size: 1.4em;
}

#treeoflife-title h1 {
  font-size: 2.5em;
  text-align: center;
  padding: 1em 1em 0;
}
#treeoflife-title h2 {
  font-size: 2.2em;
  text-align: center;
  padding: 0.5em 1em;
}
#treeoflife-text {
  font-size: 1.5em;
  padding: 1em;
  line-height: 1.3;
}
#keypage p {
  font-size: 1.4em;
}
.treeoflife-key-content ul li {
  margin-top: 0.5em;
  font-size: 1.2em;
}
#loadingpage {
  background: #e0e0e0 url(../images/amendor.png) no-repeat top center;
  padding-top: 30px;
}
#loadingpage .dialog-content {
  margin-top: 40px;
}
#loadingpage p {
  text-align: center;
}
#loadingpage p a ,
#infopage .furtherreading a{
  color: #ccf;
  font-weight: bold;
}
#infopage {
  overflow: auto;
}
.furtherreading {
  color: #ababab;
  font-style: italic;
}

.img-view img {
  width: 100%;
  box-shadow: 0px 0px 6px #000, 5px 5px 10px #333;
}

/* Admin styles */
li.treeoflife-valid, li.treeoflife-invalid, li.treeoflife-unknown {
  padding: 0 0 0.2em 2em;
  margin-bottom: 5px;
}
li.treeoflife-valid {
  background: url(../images/green_btn.png) no-repeat center left;
}
li.treeoflife-invalid {
  background: url(../images/red_btn.png) no-repeat center left;
}
li.treeoflife-unknown {
  background: url(../images/yellow_btn.png) no-repeat center left;
}
.treeoflife-box {
  padding: 10px;
  margin: 10px 0 10px 10px;
  float: right;
  border: 1px solid #e0e0e0;
  background: rgba(0,0,0,0.02);
  width: 200px;
}
.treeoflife-image {
  margin-left: 50%;
  position: relative;
}
.treeoflife-image img {
  margin-left: -151px;
  cursor: pointer;
}
.magnifyglass {
  background: url(../images/magnify.png) no-repeat bottom right;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 0;
  cursor: pointer;
  margin-left: 120px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

div[role="main"].ui-content {
  float: none !important;
}

body.mobile .ui-footer {
  position: fixed;
}
