.block-ndla-grep-ndla-grep-competence-aims ul li {
  margin-left: 0px;
}

.block-ndla-grep-ndla-grep-competence-aims .subtitle {
  color: #999;
  font-size: 12px;
}

.block-ndla-grep-ndla-grep-competence-aims ul ul ul li {
  margin-left: 20px;
}

.block-ndla-grep-ndla-grep-competence-aims .aim:before {
  content: '\f105';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  padding-right: 10px;
  margin-left: -14px;
}
