#main-content {
  width: 940px !important;
}

.ndla_grep_search_container {
  width: 20%;
  min-height: 300px;
  float: left;
  font-size: 13px;
}

.ndla_grep_search_container ul li {
  list-style-type: circle;
  list-style-position: inside;
  
}

.ndla_grep_search_container li {
  padding: 5px;
  cursor: pointer;
}

.ndla_grep_search_container li:hover {
  background-color: #EEEEEE;
  border-top: 1px solid 666666; 
  border-bottom: 1px solid 666666;
  color: #CE4C1A;
}

.ndla_grep_search_container ul li a {
  color: black; 
}

.ndla_grep_search_container h3 {
  padding: 0;
  margin: 5px 0;
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
}

#ndla_grep_search_0 ul li {
  list-style-type: none;
  text-transform: uppercase;
}

#ndla_grep_search_1 {
}

#ndla_grep_search_2 {
}

#ndla_grep_search_3 {
}

#ndla_grep_search_4 li:hover {
  background-color: #CE4C1A;
}

#ndla_grep_search_4 li:hover a {
  color: white;
}

#ndla_grep_search_1 li {
  display: none; 
}