div#canvas {
  position: relative;
  width: 980px;
}

div.item {
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  position: absolute;
}

div.item h2, div.item a {
  margin: 0px;
}