@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Node Forms */
/* line 3, ../../fyr/sass/_form.sass */
.page .node-form {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  border: 5px solid #EEEEEE;
  padding: 20px;
  margin-top: 10px;
}
/* line 8, ../../fyr/sass/_form.sass */
.page .node-form label {
  color: #111111;
}
/* line 10, ../../fyr/sass/_form.sass */
.page .node-form .group-resources {
  border: 5px solid #EEEEEE;
  padding: 40px 10px 40px 10px;
  margin-top: 15px;
}
/* line 14, ../../fyr/sass/_form.sass */
.page .node-form .group-resources.collapsed {
  padding: 10px;
}
/* line 16, ../../fyr/sass/_form.sass */
.page .node-form .group-resources .fieldset-legend {
  padding: 10px;
}
/* line 18, ../../fyr/sass/_form.sass */
.page .node-form .group-resources .fieldset-legend .fieldset-title {
  margin-left: 5px;
  color: #111111;
}
/* line 21, ../../fyr/sass/_form.sass */
.page .node-form .group-resources .form-item {
  margin: 15px 0 15px 0;
}
/* line 23, ../../fyr/sass/_form.sass */
.page .node-form .field-type-url #field-url-add-more-wrapper .form-wrapper .fieldset-legend,
.page .node-form .tabledrag-toggle-weight {
  display: none;
}
/* line 27, ../../fyr/sass/_form.sass */
.page .node-form .field-type-url .field-value-url, .page .node-form .field-type-url .field-value-title {
  width: 100%;
}
/* line 29, ../../fyr/sass/_form.sass */
.page .node-form #edit-submit {
  background: #F07B05;
  color: #FFF;
}
/* line 32, ../../fyr/sass/_form.sass */
.page .node-form .droppable {
  width: 100%;
  border: 5px solid #EEEEEE;
  color: #000;
}
/* line 36, ../../fyr/sass/_form.sass */
.page .node-form .label-description {
  margin: 0 0 3px 0;
}
/* line 38, ../../fyr/sass/_form.sass */
.page .node-form .form-item {
  margin: 15px 0 0 0;
}
/* line 40, ../../fyr/sass/_form.sass */
.page .node-form .form-select, .page .node-form .form-text {
  font-weight: 500;
  padding: 5px;
  border: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  background-color: #EEEEEE;
  background-position: 100% 12px;
}
/* line 48, ../../fyr/sass/_form.sass */
.page .node-form .form-text {
  width: 100%;
}
/* line 50, ../../fyr/sass/_form.sass */
.page .node-form .form-select {
  height: 36px;
  display: block;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
}
/* line 55, ../../fyr/sass/_form.sass */
.page .node-form .form-wrapper label {
  color: #000;
  display: block;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 200;
  font-weight: 900;
}
/* line 60, ../../fyr/sass/_form.sass */
.page .node-form .field-type-file {
  border: 0px;
}
/* line 62, ../../fyr/sass/_form.sass */
.page .node-form .field-type-file .fieldset-legend {
  display: none;
}
/* line 64, ../../fyr/sass/_form.sass */
.page .node-form .form-submit, .page .node-form .droppable-browse-button {
  padding: 10px;
  margin-right: 5px;
  background: #EEEEEE;
  color: #000;
  border: 0;
}
/* line 71, ../../fyr/sass/_form.sass */
.page .node-form .form-radios label, .page .node-form .form-type-checkboxes label, .page .node-form .form-type-select label, .page .node-form .filter-help label, .page .node-form .form-type-checkbox label {
  display: inline-block;
}
/* line 74, ../../fyr/sass/_form.sass */
.page .node-form table .handle {
  width: 23px;
  height: 23px;
}
/* line 77, ../../fyr/sass/_form.sass */
.page .node-form .filter-help .form-type-select {
  margin-top: 0;
}
/* line 79, ../../fyr/sass/_form.sass */
.page .node-form .field-value .form-item, .page .node-form td .form-item,
.page .node-form .form-type-textarea .form-type-select,
.page .node-form .text-format-wrapper .form-type-select {
  margin: 0;
}
/* line 83, ../../fyr/sass/_form.sass */
.page .node-form #edit-h5p-type {
  padding-bottom: 10px;
}
/* line 85, ../../fyr/sass/_form.sass */
.page .node-form #edit-h5p-type .form-item {
  margin: 5px 15px;
}
/* line 87, ../../fyr/sass/_form.sass */
.page .node-form table {
  width: 100%;
  font-size: 0.923em;
  border-bottom: 5px solid #EEEEEE;
}
/* line 91, ../../fyr/sass/_form.sass */
.page .node-form table tbody {
  box-sizing: border-box;
  margin: 0;
  border: 5px solid #EEEEEE;
}
/* line 95, ../../fyr/sass/_form.sass */
.page .node-form td, .page .node-form th {
  vertical-align: middle;
  padding: 5px 5px;
  border: 0;
  color: #000;
}
/* line 100, ../../fyr/sass/_form.sass */
.page .node-form th {
  font-weight: normal;
  border-bottom: 5px;
  border-style: solid;
  border-color: #EEEEEE;
  padding: 3px 10px;
}
/* line 106, ../../fyr/sass/_form.sass */
.page .node-form tr.even, .page .node-form tr.odd {
  border-color: #bebfb9;
  background: #fff;
  vertical-align: baseline;
}
/* line 110, ../../fyr/sass/_form.sass */
.page .node-form tr.drag {
  background: #fff;
}
/* line 112, ../../fyr/sass/_form.sass */
.page .node-form tr.drag-previous {
  background: #ffb;
}
/* line 114, ../../fyr/sass/_form.sass */
.page .node-form fieldset {
  border: 0;
  position: relative;
  padding: 0;
}
/* line 119, ../../fyr/sass/_form.sass */
.page .node-form fieldset legend {
  width: auto;
}
/* line 121, ../../fyr/sass/_form.sass */
.page .node-form fieldset .fieldset-legend {
  padding: 15px 5px;
  position: absolute;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}
/* line 128, ../../fyr/sass/_form.sass */
.page .node-form fieldset .fieldset-wrapper legend {
  margin-bottom: 15px;
}
/* line 130, ../../fyr/sass/_form.sass */
.page .node-form fieldset .collapsed {
  background-color: transparent;
}
/* line 132, ../../fyr/sass/_form.sass */
.page .node-form fieldset html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
/* line 135, ../../fyr/sass/_form.sass */
.page .node-form fieldset fieldset {
  background-color: #fff;
  padding: 0 0px;
}
/* line 138, ../../fyr/sass/_form.sass */
.page .node-form fieldset fieldset fieldset {
  background-color: #f8f8f8;
}
/* line 140, ../../fyr/sass/_form.sass */
.page .node-form .filter-wrapper {
  border: 1px solid #919498;
  border-top: 0;
}
/* line 143, ../../fyr/sass/_form.sass */
.page .node-form .filter-wrapper .fieldset-wrapper {
  padding: 0;
}

/* Change to deling colors */
/* line 27, ../sass/deling_screen.sass */
.navigation-banner {
  background-color: #F07B05;
}
/* line 30, ../sass/deling_screen.sass */
.navigation-banner nav .navigation-banner-seperator {
  border-left: 30px solid #F07B05;
}
/* line 32, ../sass/deling_screen.sass */
.navigation-banner nav .navigation-banner-seperator.white-to-orange {
  background-color: #F07B05;
}
/* line 37, ../sass/deling_screen.sass */
.navigation-banner nav .find .block-ndla-resource-map-resource-map-link {
  background-color: #d76e04;
}
/* line 41, ../sass/deling_screen.sass */
.navigation-banner nav .find .block-search-api-page-search-page #autocomplete li.selected {
  background-color: #F07B05;
}
/* line 44, ../sass/deling_screen.sass */
.navigation-banner nav .share .login-link {
  background-color: #F07B05;
}
/* line 46, ../sass/deling_screen.sass */
.navigation-banner nav .share input[type="submit"] {
  background-color: #F07B05;
}

/* line 49, ../sass/deling_screen.sass */
.front footer[role="contentinfo"] {
  background-color: #EEEEEE;
}

/* line 53, ../sass/deling_screen.sass */
body.front #main-content {
  overflow: hidden;
  position: relative;
}
/* line 56, ../sass/deling_screen.sass */
body.front #main-content h1 {
  display: none;
}

/* line 63, ../sass/deling_screen.sass */
.deling.front .content_bottom a.arrow-button,
.deling .content_bottom a.arrow-button {
  background-color: #F07B05;
}
/* line 65, ../sass/deling_screen.sass */
.deling.front .content_bottom a.arrow-button div,
.deling .content_bottom a.arrow-button div {
  border-left: 10px solid #F07B05;
}

/* line 68, ../sass/deling_screen.sass */
body a.ndla-contact-button {
  background-color: #F07B05 !important;
}

/* line 72, ../sass/deling_screen.sass */
body.page-resource-map div.item {
  background-color: #F07B05;
}

/* line 77, ../sass/deling_screen.sass */
.page article footer {
  color: #919498;
}
/* line 79, ../sass/deling_screen.sass */
.page article footer .node-unpublished {
  background-color: #F07B05;
}

/* line 83, ../sass/deling_screen.sass */
ul.primary.tabs li {
  background-color: #EEEEEE;
}
/* line 85, ../sass/deling_screen.sass */
ul.primary.tabs li:hover {
  background-color: #bbbbbb;
}
/* line 88, ../sass/deling_screen.sass */
ul.primary.tabs li a:hover {
  background-color: #bbbbbb;
}
/* line 90, ../sass/deling_screen.sass */
ul.primary.tabs li.active {
  background-color: #F07B05;
}
/* line 91, ../sass/deling_screen.sass */
ul.primary.tabs li.active:hover {
  background-color: #8c4803;
}
/* line 95, ../sass/deling_screen.sass */
ul.primary.tabs li.active a:hover {
  background-color: #8c4803;
}

/* end changing deling colors */
/* line 100, ../sass/deling_screen.sass */
.deling .tabs {
  position: relative;
}

/* line 104, ../sass/deling_screen.sass */
.deling ul.top-authors li.last {
  margin-bottom: 50px;
}

/* line 107, ../sass/deling_screen.sass */
.front .content_bottom_wrapper {
  background-color: #FFFFFF;
}
/* line 110, ../sass/deling_screen.sass */
.front .content_bottom_wrapper .block-ndla-share-top-authors-global {
  margin-left: 0;
}

/* line 113, ../sass/deling_screen.sass */
.front .content_bottom .block .title {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #111111;
  font-weight: 100;
  border-bottom: 3px solid #EEEEEE;
}

/* line 118, ../sass/deling_screen.sass */
.current-search-item-text {
  display: none;
}

/* line 121, ../sass/deling_screen.sass */
a.facet-deactivate {
  display: inline-block;
}
/* line 124, ../sass/deling_screen.sass */
a.facet-deactivate:hover:before {
  color: #111111;
}
/* line 126, ../sass/deling_screen.sass */
a.facet-deactivate:before {
  color: #F07B05;
  margin-top: 2px;
  margin-right: 5px;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 132, ../sass/deling_screen.sass */
.page-search .sidebar-left h2 {
  background: #F07B05;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  border-bottom: none;
}
/* line 140, ../sass/deling_screen.sass */
.page-search .sidebar-left h2 .top-authors {
  display: inline;
  width: auto;
  float: none;
}
/* line 145, ../sass/deling_screen.sass */
.page-search .sidebar-left h2 > div h2 {
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  color: #111111;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}
/* line 154, ../sass/deling_screen.sass */
.page-search .sidebar-left h2 a.arrow-button {
  margin-top: 20px;
  padding: 0 0 0 10px;
  display: block;
  color: white;
  background-color: #F07B05;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  bottom: 20px;
  width: 280px;
}
/* line 166, ../sass/deling_screen.sass */
.page-search .sidebar-left h2 a.arrow-button div {
  box-sizing: border-box;
  height: 0;
  width: 0;
  float: right;
  border-top: 15px solid white;
  border-left: 10px solid #F07B05;
  border-right: 0;
  border-bottom: 15px solid white;
}

/* line 176, ../sass/deling_screen.sass */
a.ndla-contact-button {
  background-color: #F07B05 !important;
}

/* line 181, ../sass/deling_screen.sass */
.siteinfo hgroup h1 {
  line-height: 0;
}
/* line 183, ../sass/deling_screen.sass */
.siteinfo hgroup h2 {
  clear: both;
  margin-top: 0;
}

/* line 188, ../sass/deling_screen.sass */
.deling .sidebar-right {
  height: auto;
}

/* line 192, ../sass/deling_screen.sass */
.deling.front .content_bottom_wrapper .block-ndla-share-top-authors-global {
  margin-left: 0;
}

/* line 196, ../sass/deling_screen.sass */
.deling.node-type-frontpage .tabs {
  position: relative;
}

/* line 203, ../sass/deling_screen.sass */
.page .node-form .form-wrapper .form-type-checkbox label {
  display: inline-block;
}
