@-webkit-keyframes actions-slide-up {
  0%   { transform: translate(0, 100%); }
  100% { transform: translate(0, 0); }
}

@-moz-keyframes actions-slide-up {
  0%   { transform: translate(0, 100%); }
  100% { transform: translate(0, 0); }
}

@keyframes actions-slide-up {
  0%   { transform: translate(0, 100%); }
  100% { transform: translate(0, 0); }
}

.form-actions.is-pinned {
  background: #fff;
  width: 640px;
  margin: 0 0 0 -25px!important;
  padding: 1em 25px !important;
  padding: 1em 0;
  border-top: 5px solid #eee;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 10;
  -webkit-animation: actions-slide-up 0.3s ease-out;
     -moz-animation: actions-slide-up 0.3s ease-out;
       -o-animation: actions-slide-up 0.3s ease-out;
          animation: actions-slide-up 0.3s ease-out;
}

/* Hide items we dont wanna see */
.filter-wrapper {
  display: none;
}
