@mixin headertext($size:16px, $weight:400)
  font-size: $size
  font-family: $header-font-stack
  color: $black
  font-weight: $weight

@mixin normaltext($size:16px, $weight:200)
  font-size: $size
  font-family: $font-stack
  color: $black
  font-weight: $weight

@mixin center
  margin: 0 auto
  width: $site-width

@mixin testborder
  border: 1px solid green

@mixin fontawsome($content:'\f1a9')
  content: $content
  display: inline-block
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased